.field-container {
  display: flex;
  flex-direction: column;
}
.field-left-label {
  display: flex;
  margin-top: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #414042;
}
.field-input {
  display: flex;
  margin-top: 8px;
  padding-left: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 400px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #bcbec0;
  box-sizing: border-box;
  border-radius: 40px;
}
